.button {
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1.5em;
  margin-top: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: #feedd6;
  color: #ff9f1c;
  border-radius: 3px;
  cursor: pointer;
}
