.timer-background {
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.timer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  max-width: 360px;
  margin: auto;
}
